
.card-top{
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
     padding-top: 80px;
}
.card-top h2{
    font-size: 3rem;
    margin-bottom: 10px;
}
.top-h{
    font-size: 1.5rem;
}
.top-desc{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    justify-items: center;
}