.header{
    width: 100%;
    height: 100vh;
    max-width: 800px;
    margin:  auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-container{
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.top-section{
    width: 300px;
    height: 300px;
    border-radius: 100℅;
    overflow: hidden;
    background-color: black
}

.top-section > img{
   width: 100℅;
    height: 100℅
}
.top-section p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
}
.top-section p  img{
    width: 30px;
}
.bottom-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.btn-group{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.btn-group button, .btn-group a{
    display: inline-block;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
}
.button{
    background-color: #007bff;
    color: white;
}
.button img{
    width: 20px;
    vertical-align: middle;
    margin-left: 10px;
}
.btn-group button:first-child{
    background-color: black;
    color: white;
}
.btn-group button img{
    width: 20px;
    vertical-align: middle;
    margin-left: 10px;
}
.bottom-section h2{
    font-size: 4rem;
    line-height: 1.2;
}
.bottom-section p{
    font-size: 1.2rem;
    color: gray;
}
.download-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 768px) {
    .bottom-section h2{
        font-size: 2rem;
    }

.header-container{
    align-items: center;
    padding-top: 60px;
}
   /* test */
   .rt-img{
    width: 100%;
   }
   .boxes-container{
    justify-content: center;
   }
   .tools-container{
    flex-wrap: wrap;
   }
   .btn-group{
    display: block;
   }
   .btn-group{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.btn-group button, .btn-group a{
    display: block;
    width: 100%;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
}
}
