footer, .brnading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 60px auto;
    margin-bottom: 0;
    padding-bottom: 30px;
}
.brnading{
    margin: 0;
    gap: 5px;
}
.brnading img{
    width: 200px;
}
.brnading p{
    display: flex;
    gap: 10px;
}
.brnading p img{
    width: 30px;
}
footer hr{
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
}
.ft-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
ul {
        display: flex;
        align-items: center;
        gap: 10px;
}
@media (max-width: 768px) {
    .brnading img{
        width: 140px;
    }
    .brnading p img{
        width: 22px;
        object-fit: contain;
    }
    .ft-bottom{
        flex-direction: column;
        gap: 6px;
        align-items: start;
        text-align: center;
    }
}