@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
     font-family: "Outfit", sans-serif;
}

h2{
    font-weight: 500;
}

.root-container{
    width: 100%;
    min-height: 100vh;
}

.main-body{
    width: 80%;
    min-height: 100vh;
    margin: auto;
}
 header{
        background: none;
        border-bottom: 2px solid rgb(0, 0, 0);
        position: fixed;
        left: 10%;
        right: 10%;
        padding: 10px;
        z-index: 20000;
    }
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.light-mode{
    background-color: white;
    color: black;
    .bottom-section-p{
        color: rgb(0, 0, 0);
    }

}
.dark-mode{
     header{
        background: none;
        background-color: rgba(0, 0, 0, 0.486);
        border-color: white;
    }
    .see-more{
        background-color: #fff;
    }
    .bottom-section-p{
        color: rgb(0, 0, 0);
    }
    .open-project{
        background-color: #000000;
    }
    background-color: black;
    color: white;
   
    .nav-btn, .tools-container button{
        border-color: white;
    }
    .bottom-section p, .box p, .right-about-side p, .top-desc, .c-desc{
        color: white;
    }
    .open-project{
        border: 2px solid white;
        background-color: aliceblue;
        border-radius: 5px;
        vertical-align: middle;
    }
    .box, .card, .p-card{
        border: 2px solid white;
    }
    .p-card{
        border-radius: 10px;
    }
    .btn-group button:first-child{
        border: 2px solid  white;
    }
    .submit-btn{
        background-color: #fff;
        color: #000000;
    }
    .contact{
        border: 2px solid white;
        padding: 10px 0;
        background: none;
        padding: 30px;
    }

    .ft-bottom ul li a{
        color: white;
    }
    footer hr{
        background-color: #fff;
    }
}
