.about-container {
    width: 100%;
    max-width: 1400px;
    margin: 30px auto;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.top-about-section {
    text-align: center;
}

.top-about-section p {
    color: gray;
}

.top-about-section h2 {
    font-size: 3rem;
}

.rt-img {
    width: 400px;
}

.about-bottom-section {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.right-about-side {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.right-about-side>p {
    line-height: 1.6;
    font-size: 1.2rem;
}

.boxes-container {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.box {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: start;
    border-radius: 10px;
    justify-content: center;
    padding-left: 20px;
    cursor: pointer;
}

.box img {
    width: 30px;
}

.box:first-child {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.479);
}

.tools,
.tools-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tools-container {
    flex-direction: row;
}

.tools-container button {
    border: 2px solid black;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.tools-container button img {
    width: 50px;
    height: 50px;
}

.tools p {
    font-size: 1rem;
}
.box p, .right-about-side p{
        color: gray;
}
.top-about-section{
    font-size: 1.5rem;
}
@media (max-width: 768px) {
    .box{
        width: 100%;
    }
    .rt-img{
        max-width: 600px;
    }
    .top-about-section h2{
        font-size: 2rem;
    }
    .top-about-section {
    font-size: 1rem;
}
    .about-container{
        margin-top: 20px;
    }
    .right-about-side p{
    text-align: justify;
    text-justify: inter-word;
    }
    .box p{
        max-width: 200px;
        width: 100%;
    }
}